@use "../app.scss" as *;
@use "mixins" as *;

.btn-rounded {
    padding: 11px 36px 11px 36px;
    border-radius: 100px;
}

.btn-rounded-intro {
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-weight: 600;
}

.btn-small {
    border-radius: 10px;
    font-weight: 600;
}

.btn-small-action {
    font-size: 12px;
    padding: 11px 38px;
    border-radius: 100px;
    font-weight: 600;
}

.btn-submit {
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-log {
    border-radius: 45px;
}

.btn-log:hover {
    background-color: $gray-900;
}
