@use "../app.scss" as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
        font-size: 4rem;
    }

    &--description {
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
        color: #8ca1a5;
    }
}

.sect-2-title {
    h1 {
        font-weight: 700;
        font-size: 2.2rem;
    }

    p {
        font-weight: 400;
        font-size: 1.2rem;
        color: #8ca1a5;
    }
}

.reason {
    .sect-3-title {
        font-weight: 700;
    }

    .text {
        text-transform: capitalize;
        &--title {
            font-weight: 700;
            font-size: 2rem;
        }
    }
}

.sect-4 {
    .sect-4-title {
        h1 {
            font-weight: 700;
            font-size: 2.2rem;
        }

        p {
            font-weight: 400;
            font-size: 1.2rem;
            color: #8ca1a5;
        }
    }
}

.link-white {
    text-decoration: none;
    color: #8ca1a5;
}

.link-white:hover {
    color: #b0c6ca;
    transition: 0.5s;
}

.text-title {
    margin-bottom: 50px;
    h1 {
        font-weight: 700;
        font-size: 2.2rem;
    }

    p {
        font-weight: 400;
        font-size: 1.2rem;
        color: #8ca1a5;
    }
}

@include media-breakpoint-down(lg) {
    .display-2 {
        &--intro {
            font-size: 3rem;
        }

        &--description {
            font-size: 1rem;
        }
    }

    .text-title {
        h1 {
            font-size: 1.8rem;
        }
    }
}

@include media-breakpoint-down(md) {
    .text-title {
        h1 {
            font-size: 1.5rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .display-2 {
        &--intro {
            font-size: 2.5rem;
        }

        &--description {
            font-size: 1rem;
        }
    }

    .text-title {
        h1 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
        }
    }
}
