@use "../app.scss" as *;
@use "../components/mixins" as *;

.menu {
    .logo {
        font-weight: 700;
        font-size: 1.5rem;
    }
    li {
        padding: 0 0.7rem;

        a {
            text-transform: capitalize;
        }
    }
}
