@use "../../app.scss" as *;
@use "../../components/mixins" as *;

.intro-section {
    background-color: $primary;
    padding: 10rem 0 8rem 0;
    width: 100vw;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

.feature {
    font-size: 1rem;
    color: #8ca1a5;
    font-weight: 600;

    i {
        font-size: 1.2rem;
    }
}
